<!-- _form.html.erb -->
<%= form_with(model: member_activity) do |form| %>
  <% if member_activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member_activity.errors.count, "error") %> prohibited this member_activity from being saved:</h2>

      <ul>
        <% member_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, 'User Name:', style: "display: block" %>
    <%= form.collection_select :user_id, User.order(:first_name, :last_name), :id, 
          lambda { |u| "#{u.first_name} #{u.last_name}" },
          { prompt: 'Select a User' }, required: true %>
  </div>

  <br>

  <div>
    <%= form.label :activity_id, 'Activity Name:', style: "display: block" %>
    <%= form.collection_select :activity_id, Activity.order(:name), :id, :name, 
          { prompt: 'Select an Activity' }, required: true %>
  </div>

  <br>

  <% unless local_assigns[:hide_extra_fields] %>
    <div>
      <%= form.label :date %>
      <%= form.date_field :date %>
    </div>

    <br>

    <div>
      <%= form.label :start_time, 'Start Time:', style: "display: block" %>
      <%= form.time_field :start_time %>
    </div>

    <br>

    <div>
      <%= form.label :end_time, 'End Time:', style: "display: block" %>
      <%= form.time_field :end_time %>
    </div>

    <br>
  <% end %>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>

