<%= form_with(model: member_activity) do |form| %>
  <% if member_activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member_activity.errors.count, "error") %> prohibited this member_activity from being saved:</h2>

      <ul>
        <% member_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <br>

  <div>
    <%= form.label :activity_id, style: "display: block" %>
    <%= form.number_field :activity_id %>
  </div>

  <br>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <br>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time %>
  </div>

  <br>

  <div>

    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time %>

  </div>

  <br>

  <div>
    <%= form.submit %>
  </div>
<% end %>