<div id="<%= dom_id member_activity %>">
  <p>
    <strong>User:</strong>
    <%= member_activity.user.first_name %> <%= member_activity.user.last_name %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= member_activity.activity&.name %>
  </p>

  <% if member_activity.date %>
    <p>
      <strong>Date:</strong>
      <%= member_activity.date.strftime('%B %d, %Y') %> <!-- e.g., January 01, 2024 -->
    </p>
  <% end %>

  <% if member_activity.start_time %>
    <p>
      <strong>Start time:</strong>
      <%= member_activity.start_time.strftime('%l:%M %p').strip %> <!-- e.g., 1:00 PM -->
    </p>
  <% end %>

  <% if member_activity.end_time %>
    <p>
      <strong>End time:</strong>
      <%= member_activity.end_time.strftime('%l:%M %p').strip %> <!-- e.g., 2:00 PM -->
    </p>
  <% end %>

  <% if member_activity.deadline %>
    <p>
      <strong>Deadline:</strong>
      <%= member_activity.deadline.strftime('%B %d, %Y') %> <!-- e.g., January 01, 2024 -->
    </p>
  <% end %>

</div>

