<div id="<%= dom_id member_activity %>">
  <p>
  <strong>User:</strong>
  <%= member_activity.user.first_name %> <%= member_activity.user.last_name %>
  </p>

  <p>
  <strong>Activity:</strong>
  <%= member_activity.activity.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= member_activity.date %>
  </p>

  <p>
    <strong> Start time:</strong>
    <%= member_activity.start_time %>
  </p>

</div>
