<div id="<%= dom_id member_activity %>">
  <p>
    <strong>User:</strong>
    <%= member_activity.user_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= member_activity.activity_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= member_activity.date %>
  </p>

  <p>
    <strong>Time spent:</strong>
    <%= member_activity.time_spent %>
  </p>

</div>
