<p style="color: green"><%= notice %></p>
<%= form_with(url: completed_member_activities_path, method: :get, local: true, class: "search-form") do |form| %>
    <div class="form-group">
      <%= form.label :search, "Search Completed Activities:" %>
      <%= form.text_field :search, value: params[:search], class: 'form-control' %>
    </div>
    <%= form.submit "Search", class: 'btn btn-primary' %>
<% end %>
<h1>Completed Activities</h1>

<% if @completed_member_activities.any? %>
  <div id="completed_member_activities">
    <% @completed_member_activities.each do |activity| %>
      <div>
        <p><strong>Activity:</strong> <%= activity.activity.name %></p>
        <p><strong>Date:</strong> <%= activity.date.strftime("%B %d, %Y") if activity.date %></p>
        <%= link_to 'Edit', edit_member_activity_path(activity), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No completed activities found.</p>
<% end %>

<%= link_to 'Back to pending Activities', member_activities_path, class: 'btn btn-secondary' %>


