<p style="color: green"><%= notice %></p>

<%= render @member_activity %>

<div>
  <%= link_to "Edit this member activity", edit_member_activity_path(@member_activity) %> |
  <%= link_to "Back to member activities", member_activities_path %>

  <%= button_to "Destroy this member activity", @member_activity, method: :delete %>
</div>
