<p style="color: green"><%= notice %></p>

<%= render @platoon %>

<div>
  <%= link_to "Edit this platoon", edit_platoon_path(@platoon) %> |
  <%= link_to "Back to platoons", platoons_path %>

  <%= button_to "Destroy this platoon", @platoon, method: :delete %>
</div>
