<h1>Analytics Logs for Entire C-Company</h1>
<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>">
    <%= message %>
  </div>
<% end %>

<h1>Analytics for all of C-Company</h1>
<%= form_with(url: analytics_logs_path(@platoon), method: "get") do %>
  <!-- Filter Activities After Date -->
  <label for="startDate">Filter Activities After Date:</label>
  <input type="date" id="startDate" name="startDate">

  <!-- Select User -->
  <label for="user_input">Select User:</label>
  <%= text_field_tag :user_id, nil, list: "user_info", style: "width: 300px;" %>
  <datalist id="user_info">
    <% User.all.each do |user| %>
      <option value="<%= "#{user.last_name}, #{user.first_name}: #{user.email}" %>" data-user-id="<%= user.id %>"><%= "#{user.last_name}, #{user.first_name}: #{user.email}" %></option>
    <% end %>
  </datalist>

  <!-- Submit Button -->
  <%= submit_tag "Submit" %>
<% end %>
<h2>All Logs for C-Company</h2>

<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Activity Name</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">User Name</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Platoon</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Date</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Start Time</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">End Time</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Completed</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Actions</th> <!-- New column for actions -->
    </tr>
  </thead>
  <tbody>
    <% @member_activities.each do |member_activity| %>
      <tr>
        <td style="border: 1px solid black; padding: 8px; text-align: left;"><%= member_activity.activity.name %></td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;"><%= member_activity.user.first_name %></td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.user.platoon.name if member_activity.user.platoon %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.date.strftime("%B %d, %Y") if member_activity.date %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.start_time.strftime("%I:%M %p") if member_activity.start_time %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.end_time.strftime("%I:%M %p") if member_activity.end_time %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.completed ? 'Yes' : 'No' %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= button_to "Delete", member_activity, method: :delete, data: { confirm: "Are you sure?" }, form: { action: '#', method: :delete } %>
        </td>
      
    <% end %>
  </tbody>
</table>
<br>
<h2>All Completed Activities</h2>
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Activity Name</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">User Name</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Platoon</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Date</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Start Time</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">End Time</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Completed</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Actions</th> <!-- New column for actions -->
    </tr>
  </thead>
  <tbody>
    <% @completed_member_activities.each do |member_activity| %>
      <tr>
        <td style="border: 1px solid black; padding: 8px; text-align: left;"><%= member_activity.activity.name %></td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;"><%= member_activity.user.first_name %></td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.user.platoon.name if member_activity.user.platoon %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.date.strftime("%B %d, %Y") if member_activity.date %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.start_time.strftime("%I:%M %p") if member_activity.start_time %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.end_time.strftime("%I:%M %p") if member_activity.end_time %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.completed ? 'Yes' : 'No' %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= button_to "Delete", member_activity, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h2>All Incomplete Activities</h2>
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Activity Name</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">User Name</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Platoon</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Date</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Start Time</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">End Time</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Completed</th>
      <th style="border: 1px solid black; padding: 8px; text-align: left;">Actions</th> <!-- New column for actions -->
    </tr>
  </thead>
  <tbody>
    <% @not_completed_member_activities.each do |member_activity| %>
      <tr>
        <td style="border: 1px solid black; padding: 8px; text-align: left;"><%= member_activity.activity.name %></td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;"><%= member_activity.user.first_name %></td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.user.platoon.name if member_activity.user.platoon %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.date.strftime("%B %d, %Y") if member_activity.date %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.start_time.strftime("%I:%M %p") if member_activity.start_time %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.end_time.strftime("%I:%M %p") if member_activity.end_time %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= member_activity.completed ? 'Yes' : 'No' %>
        </td>
        <td style="border: 1px solid black; padding: 8px; text-align: left;">
            <%= button_to "Delete", member_activity, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to analytics", analytics_path %>
