<div id="<%= dom_id user, platoon_name %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.display_role %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  
  <p>
    <strong>Platoon:</strong>
    <%= platoon_name %>
  </p> 
  <p>
    <strong>Class Year:</strong>
    <%= user.display_year %>
  </p> 
  <p>
    <strong>Military Branch:</strong>
    <%= user.display_branch %>
  </p> 
</div>
