<p style="color: green"><%= notice %></p>
<%= form_with(url: users_path, method: :get, local: true) do |form| %>
  <div>
    <%= form.label :query, "Search for users:" %>
    <%= form.text_field :query %>
    <%= form.submit "Search" %>
  </div>
<% end %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <p>
      <%= link_to "#{user.first_name} #{user.last_name} (#{user.email})", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
