<p style="color: green"><%= notice %></p>

<%= render partial: 'user', locals: { user: @user, platoon_name: @platoon_name } %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
