
<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>


<br>

  <div>
    <%= form.label :activity_type_id, style: "display: block" %>
    <%= form.select :activity_type_id, ActivityType.order(:name).map { |type| [type.name, type.id] }, include_blank: true, id: "id_of_the_activity_type_id_select_box" %>
  </div>

  <br>
  
  <div>
    <p> Description </p>
    <%= form.text_field :description %>
  </div>
  <br>
  
  <br>


  <div>
    <%= form.submit %>
  </div>

<% end %>

