<h3>Select A User and Deadline</h3>


<%= form_with(url: another_function_path, method: :post) do |form| %>
    <!-- Hidden field for activity_id: will be sent along with params upon form submission-->
    <%= form.hidden_field :activity_id, value: @activity.id %>
  
    <div class="field">
      <%= form.label :user_id, 'Select User:' %>
      <%= form.select :user_id, options_for_select(@users.map { |user| [user.email, user.id] }) %>
    </div>

    <br>

    <div class="field">
      <%= form.label :deadline, 'Deadline:' %>
      <%= form.datetime_field :deadline %>
    </div>

    <br>
  
    <%= form.submit "Assign" %>
  <% end %>
  
  
  
