<h2>Platoon Assignment</h2>


  <%= form_with(url: another_function2_path, method: :post) do |form| %>
    <!-- Hidden field for activity_id -->
    <%= form.hidden_field :activity_id, value: @activity.id %>
  
    <div id="platoon_dropdown" style="display: block;">
      <%= form.label :platoon_id, 'Select Platoon:', style: "display: block" %>
      <%= form.select :platoon_id, options_for_select(Platoon.all.map { |platoon| [platoon.name, platoon.id] }), prompt: 'Select a Platoon' %>
    </div>
  
    <%= form.submit "Submit" %>
  <% end %>