<h1>HELLO</h1>

<h1>Member Assignment for <%= @user_id %></h1>

<%= form_with(url: another_function_path, method: :post) do |form| %>
    <!-- Hidden field for activity_id -->
    <%= form.hidden_field :activity_id, value: @activity.id %>
  
    <div class="field">
      <%= form.label :user_id, 'Select User:' %>
      <%= form.select :user_id, options_for_select(@users.map { |user| [user.email, user.id] }) %>
    </div>
  
    <%= form.submit "Submit" %>
  <% end %>
  
  
  
