<h3>Select a Platoon</h3>

<%= form_with(url: platoon_assignment_path, method: :post) do |form| %>
    <!-- Hidden field for activity_id: will be sent along with params upon form submission-->
    <%= form.hidden_field :activity_id, value: @activity.id %>

    <div class="field">
      <%= form.label :platoon_id, 'Select Platoon:' %>
      <%= form.select :platoon_id, options_for_select(@platoon.map { |platoon| [platoon.name, platoon.id] }) %>
    </div>

    <%= form.submit "Assign" %>
  <% end %>

    

  